<label>Server name</label>
<!-- <input 
  type="text" 
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<input 
  type="text" 
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
  <!-- <p>{{ serverCreationStatus }}</p> -->
<!-- <p>{{ allowNewServer }}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverCreated; else">Server was created, server name is {{ serverName }}</p>
<!-- ngIf with else
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No Server was created</p>
</ng-template> -->
<app-server *ngFor="let server of servers"></app-server>