
<div class="container">
  <div class="row">
    <input 
    type="text" 
    name="username" 
    id="username" 
    class="form-control" 
    [(ngModel)]="username"
    (input)="onEnteredUsername($event)">
    <hr>
    <label for="" class="username"></label>
    <p>Username is: {{ username }}</p>
    <button class="btn btn-primary" [disabled] = "!username" (click)="username = ''">Reset</button>
  </div>
</div>